@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

.container {
  width: 750px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
}

/* /* taille du texte dans le body */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
}


.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

.btn {
  background-color:lightsteelblue;
  padding: 10px 20px;
  border-radius: 5px;
}

#intro p{
  margin: 20px;
}

.btn:hover{
  background-color: black;
}

.card-white {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin : 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  width: 80px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

/* a:hover {
  color: burlywood;
} */


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;

  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  body {
    font-size: 12px;
  }
}
